# -----------------------------
# Python / Backend
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt
.venv/
env/
venv/
ENV/
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints
*.dll
*.so
*.dylib
*.lib
data/
*.csv
*.h5
*.pt
*.model
.env
*.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# -----------------------------
# React / Frontend
# -----------------------------
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
